%pagination-item {
  display: inline-block;
  text-align: center;	
  width: em(100px);
  padding: em(7px) em(15px);
  margin: 0;
  margin-right: em(5px);
  border: em(2px) solid $secondary-faded;
  @include border-radius( em(3px) );
  color: $secondary-faded;
  text-decoration: none;
}
.pagination {
  margin-top: em(40px);

  span {
    @extend %pagination-item;
  }
  a {
    @extend %pagination-item;
    border-color: $primary;
    color: $primary;
    &:hover {
      background: $primary;
      color: white;
    }
  }
}


p[data-pullquote] {
  display: block;
  @include media($mobile) {
    display: none;
  }
  &:before {
    content: attr(data-pullquote);
    float: right;
    width: em(200px);
    margin: 0 0 0.5em 30px;
    padding: 0 -5% 0 0;
    font-size: 1.3em;
    color: $secondary;
    text-align: center;
  }
}

img, div, svg {
  &.framed {
    border: em(5px) solid $primary;
    width: 250px;

    @include border-radius( em(3px) );
    @include media($phablet) {
      width: 150px;
    }
    @include media($mobile) {
      width: 100px;
    }
  }
  &.left {
    float: left;
    margin: 0 1em 0 0;
  }
  &.right {
    float: right;
    margin: 0 0 0 1em;
  }
}
.treat-container {
  @include media($tablet) {
    width: 200px;
    height: 200px;
  }
  @include media($phablet) {
    width: 100px;
    height: 100px;
  }
  @include media($mobile) {
    width: 50px;
    height: 50px;
  }
}