
.colophon {
	background-color: $secondary;
	padding: 1em 0;

	ul {
		text-align: center;
		li {
			display: inline;
			list-decoration: none;
			padding: 0 em(8px);
			@include media($phablet) {
				display: block;
				padding: em(8px);
			}
		}
	}

	a {
		padding: em(10px) em(15px);
		border-radius: em(3px);
		&:hover, &:focus {
			background-color: $primary-link;
			color: $secondary;
		}
	}
	p {
		color: $secondary-link;
		text-align: center;
		margin: 0.75em;
	}
}