
.colophon {
  background-color: $white;
  padding: 1em 0;

  ul {
    text-align: center;
    li {
      display: inline;
      list-decoration: none;
      padding: 0 em(8px);
      @include media($phablet) {
        display: block;
        padding: em(8px);
      }
    }
  }

  a {
    color: $secondary;
    padding: em(10px) em(15px);
    @include border-radius( em(3px) );
    &:hover, &:focus {
      background-color: $secondary;
      color: $primary-link;
    }
  }
  p {
    color: $secondary-link;
    text-align: center;
    margin: 0.75em;
  }
}
