.masthead {
	padding-bottom: 0;
	background-color: $primary;
	color: $primary-link;
	.title { overflow: hidden; }
	h1, p.lead, ul {
		text-align: center;
		@include user-select(none);
	}
	h1 {
		text-align: start;
	}
	p.lead {
		display: none
	}
	h1 {
		@include long-shadow($secondary, 1px, $count: 150);


		margin: em(5px);
		a {
			&:hover, &:focus {
				color: $primary-link;
			}
		}
	}
	ul {
		background-color: $secondary;
		margin: 0;
		bottom: 0;
		text-align: center;
		border: em(5px) solid $secondary;
		border-left: 0;
		border-right: 0;
		li {
			display: inline;
			padding: 0 1em;
		}
	}
}