
// Only make the body change colors
// when the Neat visual grid is off.
@if not $visual-grid {
	body {
		background-color: $secondary;
	}
	.container {
		background-color: $white;
	}
}

.content {
	
	padding: 0;
	width: auto;
	margin: auto;
	@include outer-container;
	.page {
		@include span-columns(7);
		@include shift(2);

		@include media($phablet) {
				@include shift(0);
				@include span-columns(4);
				@include pad;
			}
	}
}

.masthead, .colophon {
	ul {
		padding: 0;
		margin: 0;
	}
}

.masthead {
	.title {
		@include outer-container;
		h1 {
			@include span-columns(7);
			@include shift(2);

			@include media($desktop) {
				@include span-columns(6);
				font-size: modular-scale(5);
			}

			@include media($tablet) {
				@include span-columns(5);
				font-size: modular-scale(5);
			}

			@include media($phablet) {
				@include shift(1);
				@include span-columns(3);
				@include pad;
			}

			@include media($mobile) {
				font-size: modular-scale(4);	
			}
		}
	}
}
