// Generic elements

body {
	font-family: $georgia;
	font-size: modular-scale(0);
	line-height: modular-scale(1, 1em, 1.5);
	cursor: default;
}

a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
	.content & {
		cursor: auto;
	}
}

strong {
  color: #303030;
}

// Headings //
%heading {
  margin-bottom: .5rem;
  font-family: $helvetica;
  font-weight: bold;
  line-height: modular-scale(0, 1em, 1.5);
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
	@extend %heading;
  font-size: modular-scale(3);
}
h2 {
	@extend %heading;
  margin-top: 1rem;
  font-size: modular-scale(2);
}
h3 {
	@extend %heading;
  margin-top: 1.5rem;
  font-size: modular-scale(1);
}
h4, h5, h6 {
	@extend %heading;
  margin-top: 1rem;
  font-size: modular-scale(0);
}



// List elements

ol li {
	list-style: lower-alpha outside;
}
ul li {
	list-style: square outside;
	& & {
		list-style: circle outside;
	}
}

// Code blocks
%codeblock {
	font-family: $monospace;
	font-size: modular-scale(0);
	background-color: #f9f9f9;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

pre {
	@extend %codeblock;
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	
	line-height: modular-scale(0, 1em, 1.5);
	white-space: pre;
	white-space: pre-wrap;
	@include word-wrap;	
}

code {
	@extend %codeblock;
	color: #bf616a;
	background-color: #f9f9f9;
}

hr {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	opacity: 0.5;
}


/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}