// Generic elements

body {
	font-family: $serif;
	font-size: modular-scale(0, 16px);
	line-height: modular-scale(1, 1em, 1.5);
	letter-spacing: 0.5px;
	cursor: default;
	text-rendering: optimizeLegibility;
}
.masthead, .colophon {
	font-family: $sans-serif;
}

a {
	text-decoration: none;
	color: $primary;
	.masthead &, .colophon & {
		color: $primary-link;
		&:hover, &:focus {
			color: $secondary-link;
			text-decoration: none;
		}
	}
	&:hover, &:focus {
		color: $secondary;
		text-decoration: underline;
	}
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
	.content & {
		cursor: auto;
	}
}

strong {
  color: #303030;
}

// Headings //
%heading {
  margin-bottom: .5rem;
  font-family: $sans-serif;
  font-weight: bold;
  line-height: modular-scale(0, 1em, 1.5);
  color: #313131;
  text-transform: capitalize;
}
h1 {
	@extend %heading;
  font-size: modular-scale(3, 16px);
}
h2 {
	@extend %heading;
  margin-top: 1rem;
  font-size: modular-scale(2, 16px);
}
h3 {
	@extend %heading;
  margin-top: 1.5rem;
  font-size: modular-scale(1, 16px);
}
h4, h5, h6 {
	@extend %heading;
  margin-top: 1rem;
  font-size: modular-scale(0, 16px);
}



// List elements

ol li {
	list-style: lower-alpha outside;
}
ul li {
	list-style: square outside;
	& & {
		list-style: circle outside;
	}
}

li.active {
	font-weight: bold;
}

// Code blocks
%codeblock {
	font-family: $fixed-width;
	font-size: modular-scale(0, 16px);
	background-color: #f9f9f9;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

pre {
	@extend %codeblock;
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	
	line-height: modular-scale(0, 1em, 1.5);
	white-space: pre;
	white-space: pre-wrap;
	@include word-wrap;	
}

code {
	@extend %codeblock;
	color: #bf616a;
	background-color: #f9f9f9;
}

hr {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	opacity: 0.5;
}


// Body text
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}