$red: #B0342D;
$orange: #D13D00;
$magenta: #B04867;
$pink: #CC6699;

$green: #40B072;
$hunter: #87B060;
$teal: #23B0AF;
$darkteal: #295666;

$blue: #3B5DB0;
$cyan: #39B3CC;
$periwinkle: #6C7AB2;
$purple: #B25CA6;

$white: #ffffff;
$black: #000000;


$primary: $cyan;

$secondary: darken( $primary, 10% );
$complementary: complement( $primary );
$body-copy: mix( lighten( $black, 40% ), $primary, 80%);
$body-strong: darken( $body-copy, 30%);
$body-highlight: lighten( $body-copy, 30%);
$primary-link: $white;
$secondary-link: mix( $primary-link, $secondary, 55% );
$secondary-faded: desaturate($secondary-link, 25%);
$secondary-light: lighten($secondary-faded, 21%);
$sans-serif: join( "Raleway", $helvetica, comma );
$serif: join( "Martel", $georgia, comma );
$fixed-width: join( "Inconsolata", $monospace, comma );
$modular-scale-base: em(20px);

